body {
  font-family: sans-serif;
  background: #f3f4f6;
  padding: 2em;
  max-width: 700px;
  margin: auto;
}
input, select, textarea, button {
  display: block;
  margin: 1em 0;
  padding: 0.75em;
  width: 100%;
  font-size: 1em;
}